#mainPopup {
	padding: 10px;
	height: 200px;
	width: 400px;
}
h1 {
  text-align: center;
	font-size: 2em;
}


/*h1, h2, h3, h4, h5, h6 {font-family: 'Noto Sans', sans-serif;}*/

body {
    background-color: #efefea;
    line-height: 30px;
    font-size: 16px;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Noto Sans' , sans-serif;*/
    font-weight: 300;
}


a:link, a:visited {
  color: #89c;
  text-decoration-color: #abe;
}

#form-holder h1 {
  margin: 1em 0 2em;
}

.search-form {
  text-align: center;
}
.search-form input[type=text] {
  font-size: 1.8em;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 100;
}

#search_value {

  font-family: 'Roboto';
  font-weight: 100;
}

.footnote {
  font-size: 0.8em;
  color: #555;
}

#results-list {
	list-style: none;
	padding: 0;
}

#results-list li {
	clear: both;
	padding: 0 0 0.6em 0;
}

#results-list li h2 {
	clear: both;
	float: left;
	margin: 0;
}
#results-list li button {
	float: right;
}
